/* COLORS

header grey: #eceef1
header hover: #fbfbfc *not used*

header:
for low bar, line-height: 71px;
for high bar, line-height: 20px; padding-top: 22px;

#2d343a 

*/

:root {
	--header-bg: /*#eceef1*/ white;
	--header-color: black;
	--body-bg: white;
	--header-hover-color: #ff8c00;
}

body::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none;
}

@font-face {
	font-family: Poppins;
	src: url(fonts/Poppins-Regular.otf);
}

@font-face {
	font-family: Manrope;
	src: url(fonts/manrope-regular.otf);
}

html, body {
	margin: 0;
	padding: 0;
	font-family: Poppins;
	background-color: var(--body-bg);
	overflow-x: visible;
}

#header {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--header-bg);
}

.header {
	height: 50px;
	width: auto;
	margin: 0px 20px;
	padding-top: 25px;
	line-height: 24px;
	vertical-align: middle;
	text-align: center;
	z-index: 100;
	display: block;
	position: relative;
	color: var(--header-color);
	font-size: 16px;
	transition: color 0.5s;
	z-index: 3;
}

.name {
	float: left;
	margin-left: 100px;
}

.headerbtn {
	float: right;
}

.headerright {
	margin-right: 100px;
}

.header .line {
	height: 3px;
	width: 0%;
	margin: 0;
	background-color: var(--header-hover-color);
	transition: width 0.35s, background-color 0.35s;
	border-radius: 2px;
}

/*.header:hover {
	color: var(--header-hover-color);
	transition: color 0.5s;
}*/

.header:hover .line {
	width: 100%;
	transition: width 0.35s, background-color 0.35s;
	background-color: var(--header-hover-color);
}

.header:active .line {
	background-color: var(--body-bg); 
	width: 100%;
}

.header:active {
	color: var(--body-bg);
}

a, a:visited, a:active, a:hover {
	color: var(--header-color);
	text-decoration: none;
}

.spacer {
	height: 75px;
	width: 100vw;
}

.footer {
	width: 100vw;
	height: 200px;
	background-color: aqua;
}

h1 {
	width: 60vw;
	margin: 200px 0 20px 20vw;
	font-size: 4em;
}

h2 {
	margin-left: 20vw;
}

.main_text {
	margin-left: 20vw;
	margin-right: 20vw;
	text-align: justify;
}

.underline {
	width: 6em;
	height: 0.5em;
	background-color: var(--header-hover-color);
	margin-left: 20vw;
	margin-bottom: 100px;
}

a.intext {
	text-decoration: underline;
	text-decoration-color: var(--header-hover-color);
	text-decoration-thickness: 0.1em;
	transition: color 0.2s;
	text-underline-offset: 0.2em;
}

a.intext:hover {
	color: var(--header-hover-color);
}

/* HOME */



/* PROJECTS */

.details h2 {
	transition: color 0.35s;
	margin-left: 0vw;
}

.project {
	width: 60vw;
	margin: 4em 20vw;
	overflow: auto;
	display: grid;
}

.details {
	text-align: justify;
}

.project:hover h2 {
	color: var(--header-hover-color);
}

.gallery {
	margin-left: 20vw;
	width: 60vw;
}

.gallery_img {
	display: inline-block;
	width: calc(50% - 6px);
	aspect-ratio: 4/3;
	object-fit: cover;
	padding-left: 3px;
	padding-right: 3px;
}

img.main_text {
	width: 40vw;
	margin: 2em 30vw 0 30vw;
}

.caption {
	text-align: center;
	font-style: italic;
	margin: 0;
	margin-bottom: 2em;
}


/* CONTACT */

.formbox {
	margin-top: 100px;
	margin-left: calc(50vw - 250px);
	margin-bottom: 200px;
	width: 500px;
}

.formbox input[type=text] {
	width: 480px;
	padding: 2px 10px;
	border: none;
	border: 0px;
	border: 3px solid black;
	border-radius: 3px;
	margin: 10px 0px;
	height: 30px;
	transition: border 0.15s linear, background 0.15s linear;
	outline: none;
	background-color: #ffffff;
	font-family: Poppins;
}

.formbox input[type=text]:focus, .formbox textarea:focus {
	border-color: var(--header-hover-color);
	background-color: #ffffff;
	outline: none;
}

.formbox textarea {
	width: 480px;
	padding: 10px;
	border: none;
	border: 3px solid black;
	border-radius: 3px;
	margin: 10px 0px;
	height: 175px;
	transition: border 0.15s linear, background 0.15s linear;
	outline: none;
	background-color: #ffffff;
	font-family: Poppins;
	resize: none;
}

.formbox input[type=submit] {
	width: 125px;
	padding: 2px 10px;
	border: none;
	border: 0px;
	border: 3px solid black;
	border-radius: 3px;
	margin: 10px 0px 10px 377px;
	height: 30px;
	transition: border 0.15s linear, background 0.15s linear;
	outline: none;
	background-color: #ffffff;
	font-family: Poppins;
}

.formbox input[type=submit]:hover {
	border-color: var(--header-hover-color);
	background-color: #ffffff;
	cursor: pointer;
}
